# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Log files
**/*.log

# Hidden files
.*
!/.gitignore
!/.travis.yml

# Temporary files
*.bak

# Data dir
data/*
*.db

# Virtualenv
env/*

# Tor data
tools/tor/data

# PhantomJS, downloaded manually for unit tests
tools/phantomjs

# ZeroNet config file
zeronet.conf
