gevent>=1.1.0; python_version < "3.8"
gevent>=1.5.0; python_version >= "3.8"
msgpack>=0.4.4
base58
merkletools
rsa
PySocks>=1.6.8
pyasn1
websocket_client
greenlet==0.4.16
gevent-ws
coincurve
maxminddb
