
<!DOCTYPE html>

<html>
<head>
 <title>{title} - ZeroNet</title>
 <meta charset="utf-8" />
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <link rel="stylesheet" href="/uimedia/all.css?rev={rev}" />
 {meta_tags}
</head>
<body style="{body_style}">

<noscript>
<div class="unsupported"><h3>ZeroNet requires JavaScript support.</h3>If you use NoScript: Click on toolbar icon and choose the "Temporary allow all this page" option.</div>
</noscript>
<script>
// If we are inside iframe escape from it
if (window.self !== window.top) window.open(window.location.toString(), "_top");
if (window.self !== window.top) window.stop();
if (window.self !== window.top && document.execCommand) document.execCommand("Stop", false)

</script>

<div class="progressbar">
 <div class="peg"></div>
</div>

<!-- Fixed button -->
<div class='fixbutton'>
 <div class='fixbutton-text'>0</div>
 <div class='fixbutton-burger'>&#x2261;</div>
 <a class='fixbutton-bg' href="{homepage}/"></a>
</div>


<!-- Notifications -->
<div class='notifications'>
 <div class='notification template'><span class='notification-icon'>!</span> <span class='body'>Test notification</span><a class="close" href="#Close">&times;</a><div style="clear: both"></div></div>
</div>


<!-- Loadingscreen -->
<div class='loadingscreen'>
 <div class='loading-text console'>
 </div>
 <div class="flipper-container">
  <div class="flipper"> <div class="front"></div><div class="back"></div> </div>
 </div>
</div>


<!-- Site Iframe -->
<iframe src='about:blank' id='inner-iframe' sandbox="allow-forms allow-scripts allow-top-navigation allow-popups allow-modals {sandbox_permissions}" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true" msallowfullscreen="true"></iframe>

<!-- Site info -->
<script>
document.getElementById("inner-iframe").src = "about:blank"
document.getElementById("inner-iframe").src = "{file_url}{query_string}"
address = "{address}"
wrapper_nonce = "{wrapper_nonce}"
wrapper_key = "{wrapper_key}"
ajax_key = "{ajax_key}"
postmessage_nonce_security = {postmessage_nonce_security}
file_inner_path = "{file_inner_path}"
permissions = {permissions}
show_loadingscreen = {show_loadingscreen}
server_url = '{server_url}'

if (typeof WebSocket === "undefined")
	document.body.innerHTML += "<div class='unsupported'>Your browser is not supported please use <a href='http://outdatedbrowser.com'>Chrome or Firefox</a>.</div>";
</script>
<script type="text/javascript" src="/uimedia/all.js?rev={rev}&lang={lang}"></script>

</body>
</html>
